/* header_sec */
.header_sec{
  width: 100%;
  height: 2rem;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin: 0 auto;
  padding: 3rem 5rem 0;
  font-family: "Cormorant Garamond", serif;
  position: fixed;
  top: 0;
  color: #fff;
  z-index: 99;
}

.header_sec .header_logo{
  font-size: 1.2rem;
  font-weight: 400;
  font-family: "Cormorant Garamond", serif;
}

.header_sec .nav .util_menu{
  font-size: 1.6rem;
  display: flex;
  gap: 5rem;
  color: #fff;
  font-weight: 300;
  font-family: "IBM Plex Mono";
  z-index: 2;
}

/* .header_sec .nav .util_menu li:hover{
  color: #a50000;
} */

@media (max-width: 768px){

  .header_sec{
    justify-content: center;
  }

  .header_sec .nav{
    display: none;
  }
}