/* header_sec */
.header_sec{
  width: 100%;
  height: 2rem;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin: 0 auto;
  padding: 3rem 5rem 0;
  font-family: "Cormorant Garamond", serif;
  position: fixed;
  top: 3rem;
  color: #fff;
  z-index: 99;
}

.header_sec .nav .util_menu{
  font-size: 1.8rem;
  gap: 5rem;
  color: #fff;
  font-weight: 300;
  text-transform: uppercase;
  font-family: "Noto Sans", sans-serif;
  z-index: 2;
}

.header_sec .nav .util_menu li:first-child{
  color: #e76c2a;
}

@media (max-width: 768px){

  .header_sec{
    justify-content: center;
  }

  .header_sec .nav{
    display: none;
  }
}