::selection{
  background: #ff9257;
  color: #fff;
}

.cursor{
  background-color: #ff9257;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99;
  transition: transform 0.15s ease-out;
  pointer-events: none;
  mix-blend-mode: difference;
}

.cursor.is-hover{
  transform: scale(0.5);
}

.heading:hover + .cursor {
  transform: scale(0.5);
}

/* main_sec */
#main_sec{
  width: 100%;
  height: 100vh;
  margin: 0 auto;
  background: #000;
  position: relative;
}

#main_sec .main_bg{
  width: 100%;
  height: 100%;
  background: #000;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: block;
}

#main_sec .main_text{
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

#main_sec video{
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: block;
  filter: brightness(60%);
}

#main_sec .main_text .intro{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  font-size: 12rem;
  font-family: "Cormorant Garamond", serif;
  font-weight: 600;
  gap: 3rem;
  color: #fff;
}

#main_sec .main_text .intro span:nth-child(2){
  font-size: 2rem;
  font-weight: 300;
  text-align: center;
}

/* about_sec */
#about_sec{
  width: 100%;
  height: 110vh;
  position: relative;
  background-color: #111;
}

#about_sec .about_img{
  width: 100%;
}

#about_sec .about_title{
  width: 100%;
  max-width: 140rem;
  margin: 0 auto;
  padding: 0 5rem;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

#about_sec .about_title h2{
  font-size: 2.4rem;
  color: #a50000;
  font-weight: 600;
  margin-bottom: 5rem;
  position: relative;
}

#about_sec .about_title h2::after{
  content: '';
  position: absolute;
  top: 0;
  left: 54%;
  width: 1.5rem;
  height: 1.5rem;
  background-color: #a50000;
  border-radius: 3rem;
}

#about_sec .about_title h3{
  font-size: 4.8rem;
  margin-bottom: 3rem;
  color: #fff;
}

#about_sec .about_title p{
  font-size: 1.8rem;
  color: #fff;
}

/* project_sec */
.sec{
  width: 100%;
  height: 110vh;
}

#project_sec .sec:nth-child(1) { z-index: 1; }
#project_sec .sec:nth-child(2) { z-index: 2; }
#project_sec .sec:nth-child(3) { z-index: 3; }
#project_sec .sec:nth-child(4) { z-index: 4; }
  

/* 각 섹션별 배경색 설정 */
.project_box {
  width: 100%;
  height: 100%;
  position: relative;
  color: #fff;
}

.project_box video{
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: block;
  filter: brightness(35%);
}

.sec::before{
  width: 100%;
  height: 100%;
  content: '';
  position: absolute;
  top: 0;
  left: 0;
}

.project_box .project_title{
  position: absolute;
  top: 45%;
  left: 50%;
  text-align: center;
  padding: 0 5rem;
  transform: translate(-50%,-50%);
}

.project_box .project_title h2{
  font-family: "Cormorant Garamond", serif;
  font-size: 8rem;
  font-weight: 500;
}

.project_box .project_title p{
  font-size: 1.8rem;
  font-weight: 400;
}

.project_box .project_title .project_link{
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translate(-50%,-50%);
  gap: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5rem;
}

.project_box .project_title .project_link a{
  font-size: 1.6rem;
  border: 1px solid #fff;
  padding: 0.5rem 2.5rem;
  transition: 0.3s;
  border-radius: 5px;
}

.project_box .project_title .project_link a:hover{
  background: #fff;
  color: #333;
}

/* list_sec */
#list_sec{
  position: relative;
  z-index: 5;
  color: #fff;
  background: #000;
  padding: 20rem 0 10rem;
}

#list_sec .list_wrap{
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#list_sec .list_title{
  width: 100%;
  margin-bottom: 5rem;
  text-align: center;
}

#list_sec .list_title h2{
  font-family: "Noto Sans", sans-serif;
  font-size: 4.8rem;
  text-transform: uppercase;
  font-weight: 400;
}

#list_sec .list_wrap .list{
  width: 90%;
  border-top: 2px solid #333;
  padding: 13rem 0;
  transition: 0.2s;
  font-size: 3.2rem;
  font-weight: 400;
  letter-spacing: 0.1rem;
}

#list_sec .list_wrap .list .inner{
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

#list_sec .list_wrap .list .inner .num{
  width: 20%;
  font-size: 2rem;
  padding-top: 1.1rem;
}

#list_sec .list_wrap .list .inner .tit{
  width: 80%;
  font-size: 4.8rem;
  letter-spacing: -0.2rem;
}

#list_sec .list_wrap .list .inner .con{
  width: 80%;
}

#list_sec .list_wrap .list .inner .con .text{
  font-size: 2rem;
  padding-bottom: 3rem;
  letter-spacing: -0.1rem;
}

#list_sec .list_wrap .list .inner .con .tag{
  display: flex;
  gap: 1rem;
  color: #666;
}

#list_sec .list_wrap .list:hover{
  background: radial-gradient(circle,#111, #000);
  color: #fff;
  padding: 14rem 3rem;
  transition: 0.5s ease-in-out;
}

#list_sec .list_wrap .list:hover .tit{
  transition: 0.3s;
}

#list_sec .list_wrap .list .fade{
  position: fixed;
  top: 0;
  left: 0;
  width: 30rem;
  height: 20rem;
  opacity: 0;
  object-fit: cover;
}

#list_sec .list_wrap .list .tag{
  font-size: 2rem;
  text-align: left;
}

/* contact_sec */
#contact_sec{
  width: 100%;
  height: 100vh;
  padding: 0 10rem;
  position: relative;
}

#contact_sec .contact_wrap{
  width: 100%;
  height: 100vh;
  margin: 0 auto;
  position: relative;
}

#contact_sec video{
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: block;
  filter: brightness(10%);
}

#contact_sec .contact_title{
  width: 100%;
  margin: 0 auto;
  text-align: left;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

#contact_sec .contact_title h2{
  font-size: 16rem;
  color: #fff;
  font-weight: 600;
  margin-bottom: 5rem;
  position: relative;
  text-transform: uppercase;
  font-family: "Cormorant Garamond", serif;
}

#contact_sec .contact_title p{
  font-size: 1.8rem;
  color: #fff;
}

#contact_sec .contact_title .contact_link{
  margin-top: 10rem;
  color: #fff;
  font-size: 1.8rem;
  text-transform: uppercase;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  column-gap: 5rem;
}

#contact_sec .contact_title .contact_link .contact_left,
#contact_sec .contact_title .contact_link .contact_right{
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

@media (max-width: 1024px){

  #main_sec .main_text .intro{
    font-size: 8rem;
    font-weight: 600;
  }

  /* about_sec */
  #about_sec .about_title h2::after{
    display: none;
  }

  #about_sec .about_title h3{
    font-size: 3.6rem;
  }

  #list_sec .list_wrap .list .inner{
    width: 100%;
    flex-direction: column;
    gap: 3rem;
  }
  
  #list_sec .list_wrap .list .inner .num{
  width: 100%;
  font-size: 2rem;
}

  #list_sec .list_wrap .list .inner .tit{
    width: 100%;
    font-size: 4.8rem;
  }

  #list_sec .list_wrap .list .inner .con{
    width: 100%;
  }

  #list_sec .list_wrap .list .inner .con .text{
    font-size: 1.6rem;
  }

  #list_sec .list_wrap .list .inner .tag{
    font-size: 1.4rem;
  }

  /* contact_sec */
  #contact_sec .contact_title{
    top: 50%;
    left: 50%;
    text-align: center;
  }

  #contact_sec .contact_title h2{
    font-size: 12rem;
  }

  #contact_sec .contact_title .contact_link{
    justify-content: center;
  }
}


@media (max-width: 768px){

  /* main_sec */
  #main_sec .main_text .intro{
    font-size: 4.8rem;
    font-weight: 600;
  }

  #main_sec .main_text .intro span:nth-child(2){
    font-size: 1.6rem;
  }

  /* list_sec */
  #list_sec .list_wrap .list{
    flex-direction: column;
    font-size: 2.6rem;
  }

  #list_sec .list_wrap .list .tag{
    font-size: 2rem;
  }

  #list_sec .list_wrap .list .inner .con .text{
    font-size: 1.4rem;
  }

  #contact_sec .contact_title{
    top: 50%;
    left: 50%;
    text-align: center;
  }

  #contact_sec .contact_title h2{
    font-size: 6rem;
  }
}

@media (max-width: 540px){
  #main_sec .main_text .intro{
    font-size: 3.2rem;
  }

  #main_sec .main_text .intro span:nth-child(2){
    font-size: 1.2rem;
  }

  #about_sec .about_title h3{
    font-size: 2.8rem;
  }

  .project_box .project_title h2{
    font-size: 6rem;
  }

  
  /* list_sec */
  #list_sec .list_wrap .list{
    flex-direction: column;
    font-size: 2rem;
  }

  #list_sec .list_wrap .list .tag{
    font-size: 2rem;
    text-align: center;
  }

  #list_sec .list_wrap .list .inner .con .text{
    font-size: 1.2rem;
  }

  #contact_sec .contact_title{
    text-align: center;
  }

  #contact_sec .contact_title p.email{
    font-size: 3rem;
    letter-spacing: -0.4rem;
  }
  
  #contact_sec .contact_title .contact_link{
    justify-content: center;
    font-size: 2rem;
  }

  #contact_sec .contact_title .contact_link img{
    width: 2.6rem;
    height: 2.6rem;
  }
}