.swiper {
  position: absolute;
  top: 10%;
  width: 100%;
  height: 100vh;
  padding: 6rem 0;
  margin: 0 auto;
  overflow: visible;
}

.swiper h2{
  font-size: 6rem;
  text-transform: uppercase;
  font-family: "Cormorant Garamond", serif;
  font-size: 100;
  padding-bottom: 3rem;
}

.swiper-slide {
  width: 300rem;
  height: 40rem;
  flex-shrink: 0;
  cursor: pointer;
  transition: 0.3s
}

.swiper-slide:hover{
  transform: scale(1.03);
  transition: 0.3s;
}

.slide_inner {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.swiper-slide .slide_text p{
  color: #fff;
  font-size: 2rem;
}

.slide_inner img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  border: 1px solid #fff;
  opacity: 0.8;
}

.slide_inner img:hover{
  opacity: 1;
  transition: 0.3s;
}

.swiper-pagination {
  position: absolute;
  top: 80%;
  right: 80%;
  width: 100%;
  height: 100%;
  bottom: 3.2rem;
  text-align: right;
  font-size: 2.8rem;
  color: #fff;
  border: 1px solid #000;
}



/* ─ 반응형 ───────────────────────────────────────────────── */
@media (max-width: 1024px) {
  
}

@media (max-width: 768px) {
  
}

  

  

